/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  overflow: hidden;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(193, 193, 193);
}

main {
  padding: 0 24px;
}

section {
  padding:16px 0;
}

.disabled {
  pointer-events: none;
  color:#a5a5a5!important;
  background-color: rgb(236, 236, 236)!important;
}

#reset {
  background-color: rgb(183, 64, 64);
  color:#fff;
  padding:4px 16px;
  border-radius: 10px;
  text-transform: uppercase;
}

#reset:hover {
  cursor: pointer;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap:16px;
}


select {
  font-size: 18px;
  font-weight: bold;
  border:none;
  outline:none;
  border:2px solid #26408ced;
  border-radius: 10px;
  padding:4px 8px;
}

select:hover {
  cursor: pointer;
}

#models:hover {
  cursor: pointer;
}

.filter-btn {
  background-color: #26408c;
  color:#fff;
  font-size:18px;
  font-weight: bold;
  padding:0 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.filter-btn:hover {
  cursor: pointer;
}

.listings {
  display: grid;
  grid-template-columns:repeat(2,1fr);
  gap:16px;
}

.processing {
  filter:blur(8px);
}

@media only screen and (min-width: 640px) {
  .listings {
    gap:24px;
    grid-template-columns: repeat(3,1fr);
  }
}

@media only screen and (min-width: 1200px) {
  .listings {
    grid-template-columns: repeat(6,1fr);
  }
}

.listing {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 10px;
  text-decoration: none;
  color:#191919;
  padding:8px;
  padding-top: 28px;
  box-sizing: border-box;
  position: relative;
}

.listing .model {
  font-weight: bold;
  text-align: center;
  font-size: 24px;
}

.listing .details {
  display: flex;
  flex-direction: column;
}

.listing .added {
  font-weight: 300;
  font-size: 14px;
  text-align: left;
  margin-top: 8px;
  margin-bottom: 4px;
}

.listing .price-history {
  display: flex;
}

.listing .price {
  font-weight: bold;
  font-size: 28px;
  background-color: #26408ced;
  color:#fff;
  text-align: center;
  border-radius: 10px;
  position: relative;
  display: flex;
  width: 100%;
  text-decoration: none;
  justify-content: center;
  margin-top: 8px;
}

.listing .price:hover {
  background-color: #3254bced;
}

.listing .old-price {
  position: absolute;
  top: 40%;
  right: 18%;
  font-size: 18px;
  transform: translate(50%, -50%);
  text-decoration: line-through;
}


@media only screen and (min-width: 640px) {
  .listing .old-price {
    right: 28%;
  }
}

.listing .price-direction {
  position: absolute;
  top: -4px;
  left:12px;
  font-size: 32px;
}

@media only screen and (min-width: 640px) {
  .listing .price-direction {
    top: -4px;
  }
}

.listing .price-direction.up {
  color:red;
}

.listing .price-direction.down {
  color:#0aff00;
}

.listing .profit {
  position: absolute;
  top: -17px;
  left: -6px;
  background-color: #1b892eed;
  color:#fff;
  font-size: 14px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  font-weight: bold;
  display: grid;
  place-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:12px 24px;
  background-color:#192b5fed;
}

header .brand {
  font-size: 32px;
  font-weight: bold;
  color:#fff;
}

header nav ul {
  list-style: none;
  display: flex;
  gap:16px;
}

header nav ul li a, header nav ul li div {
  font-size: 24px;
  color:#333;
  text-decoration: none;
  color:#fff;
}

.option-buttons {
  position: absolute;
  top:4px;
  right: 4px;
  background-color: #eee;
  padding:4px;
  border-radius: 4px;
  display: flex;
  gap:12px;
}

.option-buttons svg {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.option-buttons #delete-listing svg {
  color:red;
}

/* ======================= LOADER ======================= */
.loader {
  width: 100%;
  height: 100%;
  background-color: #26408c;
  position: absolute;
  top:0;
  left:0;
}

.loader-content {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/* ======================= LOADER ======================= */

/* ======================= BACKDROP ======================= */
.backdrop {
  position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
/* ======================= BACKDROP ======================= */

/* ======================= MODAL ======================= */
.modal {
  position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    height: 80vh;
    background: white;
    z-index: 1001;
    padding:10px;
    border-radius: 10px;
}

#canvas {
  width: 100%!important;
  height: 100%!important;
}

/* ======================= MODAL ======================= */