/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  overflow: hidden;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(193, 193, 193);
}

.disabled {
  pointer-events: none;
  color:#a5a5a5!important;
  background-color: rgb(236, 236, 236)!important;
}

#reset {
  font-size: 18px;
  background-color: rgb(183, 64, 64);
  color:#fff;
  padding:4px 16px;
  border-radius: 10px;
  text-transform: uppercase;
}

#reset:hover {
  cursor: pointer;
}

.listings {
  display: grid;
  grid-template-columns:repeat(2,1fr);
  gap:24px;
  padding:24px;
}

@media only screen and (min-width: 640px) {
  .listings {
    grid-template-columns: repeat(3,1fr);
  }
}

@media only screen and (min-width: 1200px) {
  .listings {
    grid-template-columns: repeat(6,1fr);
  }
}

.listing {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 10px;
  text-decoration: none;
  color:#191919;
  padding:8px;
  padding-top: 20px;
  box-sizing: border-box;
  position: relative;
}

.listing:hover {
  cursor: pointer;
  background-color: #eee;
}

.listing .model {
  font-weight: bold;
  text-align: center;
  font-size: 24px;
}

.listing .details {
  display: flex;
  flex-direction: column;
}

.listing .added {
  font-weight: 300;
  font-size: 14px;
  text-align: right;
  margin-top: 8px;
  margin-bottom: 4px;
}

.listing .price {
  font-weight: bold;
  font-size: 28px;
  background-color: #26408ced;
  color:#fff;
  text-align: center;
  border-radius: 10px;
  position: relative;
}

.listing .old-price {
  position: absolute;
  top: 40%;
  right: 28%;
  font-size: 18px;
  transform: translate(50%, -50%);
  text-decoration: line-through;
}

.listing .price-direction {
  position: absolute;
  top: -4px;
  right: 20px;
  font-size: 32px;
}

.listing .price-direction.up {
  color:red;
}

.listing .price-direction.down {
  color:#0aff00;
}

.listing.good {
  background-color: #e7ffe6;
}

.listing .profit {
  position: absolute;
  top:-12px;
  left:-6px;
  background-color: #26408ced;
  color:#fff;
  font-size: 16px;
  padding:2px 8px;
  border-radius: 4px;
  font-weight: 300;
}

.listing .profit > div {
  display: flex;
  gap:4px;
  align-items: center;
  justify-content: center;
}

.listing .profit > div span{
  font-weight: bold;
  font-size: 18px;
}

.listing .difference {
  position: absolute;
  top:-15px;
  right: -10px;
  background-color: 	#157811;
  color:white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 12px;
  display: grid;
  place-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:12px 24px;
  background-color:#192b5fed;
}

header .brand {
  font-size: 32px;
  font-weight: bold;
  color:#fff;
}

header nav ul {
  list-style: none;
  display: flex;
  gap:16px;
}

header nav ul li a {
  font-size: 24px;
  color:#333;
  text-decoration: none;
  color:#fff;
}

.stats {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  gap:16px;
}

.stats span {
  font-weight: bold;
  font-size: 24px;
}


#models {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap:12px;
  padding: 24px;
}

.modelId {
  font-size: 18px;
  border:none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  outline: none;
  border-radius: 10px;
  padding:4px 12px;
  color:#333;
  min-width: fit-content;
  position: relative;
}

.modelId .count {
  position: absolute;
  top:-10px;
  right: -10px;
  background-color: #26408ced;
  color:#fff;
  border-radius: 50%;
  padding:6px;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.modelId.active {
  background-color: #26408ced;
  color:#fff;
}

.modelId:hover {
  cursor: pointer;
  background-color: #26408ced;
  color:#fff;
}


@media only screen and (min-width: 992px) {
  #models {
    display: grid;
    grid-template-columns: repeat(10,1fr);
  }
}

#paginator {
  display: flex;
  justify-content: center;
}

.loader {
  width: 100%;
  height: 100%;
  background-color: #26408c;
  position: absolute;
  top:0;
  left:0;
}

.loader-content {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
